// header

.header {
  // background-color: #4e4e50;
  border-bottom: none;
}
.home-header {
  border-bottom: none;
  background-color: transparent;
  position: absolute;
}
.navPages-action:hover,
.navPages-action.activePage {
  color: #fff;
}
.user-links {
  display: none;
}
.header-top {
  position: unset;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem 0;
  width: calc(100% - 16px);
}
.header-top-home {
  padding: 3rem 2rem 1rem 2rem;
}
.home-body {
  margin-top: 0rem;
  .page-heading {
    display: none;
  }
  .header-top {
    padding: 3rem 2rem !important;
  }
}
.header-left {
  width: 14%;
  display: inline-block;
  text-align: left;
  .header-logo {
    margin: 0 0 0 0;
    width: 100%;
    display: inline-block;
  }
  .header-logo-image-container {
    min-height: max-content;
  }
}
.header-center {
  width: 66%;
  display: inline-block;
  padding: 0rem 2rem;
}
.header-right {
  width: 20%;
  display: inline-block;
  text-align: right;
}
.header-logo {
  margin: 0 0 0 0;
  width: max-content;
  display: inline-block;
}

.navPages ul {
  vertical-align: middle;
}
.navPages-action {
  font-size: 15px;
  color: #fff;
}
.user-signup {
  background-color: #ad976e;
  color: #fff;
  // padding: 0.4rem;
}

.desktop-hide {
  display: none;
}
.mobile-hide-logo {
  display: inline-block;
}
.breadcrumbs {
  display: none !important;
}
.navPages-container {
  display: none;
}
.page-home {
  margin: -1.5rem -0.75rem;
}
// footer
.footer {
  background-color: #000;
  color: #fff;

  //   text-align: center;
  .footer-info-heading {
    color: #fff;
    padding-bottom: 2rem;
    font-size: 20px;
  }
  p {
    color: #fff;
  }
  .footer-info-list a {
    color: #fff;
    line-height: 2;
    &:hover {
      color: #fff;
    }
  }
  .footer-info-col {
    margin-right: 4rem;
  }
  .footer-center {
    padding: 0rem 2rem;
  }
  #nl_email {
    background-color: transparent;
    border: none;
  }
  #nl_btn {
    background-color: transparent;
    border: none;
    color: #8c7e5c;
    font-size: 13px;
  }
  .hr-footer {
    background-color: #fff;
    height: 1px;
  }

  .footer-copyright > .powered-by {
    color: #fff;
  }
  .footer-copyright a {
    color: #fff;
    text-decoration: none;
    padding: 0rem 3rem 0 0;
    font-size: 14px;
  }
  .footer-copyright p {
    display: inline-block;
  }
  .app-links-list,
  .footer-info-links {
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 1rem 1rem 0;
    }
  }
  .footer-info-links {
  }
}
@media only screen and (max-width: 800px) {
  .mobile-hide-logo {
    display: none;
  }
  .page-home {
    margin: -5.5rem -0.75rem;
  }
  .desktop-hide {
    display: inline-block;
  }
  .header .header-top {
    padding: 0;
  }
  .header-left {
    width: 50%;
    margin: auto;
  }
  .header-center,
  .header-right {
    display: none;
  }
  .navPages {
    background-color: #4e4e50;
  }
  .user-links {
    display: inline-block;
  }
  .mobileMenu-toggle .mobileMenu-toggleIcon,
  .mobileMenu-toggle .mobileMenu-toggleIcon::before,
  .mobileMenu-toggle .mobileMenu-toggleIcon::after {
    background: #fff;
  }
  .mobileMenu-toggle {
    right: 0;
  }
  .footer .footer-info-col {
    margin-right: 0rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
  .navPages-action {
    font-size: 14px;
  }
}
@media only screen and (min-width: 901px) {
  .navPages-action {
    font-size: 16px;
  }
}
