// =============================================================================
// PREVIEW CART (CSS)
// =============================================================================
//
// 1. Override server-generated inline-css
//
// -----------------------------------------------------------------------------

.previewCart {
    @include grid-row;

    @include breakpoint("medium") {
        .productView {
            @include grid-column(9);
            display: flex;
            margin: 0;
            padding-bottom: 0;
            padding-top: 0;
        }

        .productView-image {
            @include grid-column(7);
            display: flex;
            flex-direction: column;
        }

        .productView-image--cart {
            align-self: flex-start;
            margin: 0 auto;
            width: 100%;
        }

        .productView-details {
            @include grid-column(5);
        }
    }

    .productView-title {
        margin-top: 0;
    }
}

.previewCartCheckout {
    background: container("fill", "dark");
    padding: spacing("base");
    text-align: center;
    color:#000;

    @include breakpoint("medium") {
        @include grid-column(3, $float:right);
        padding: spacing("single");
    }
    .view-cart {
        color:#000;
    }
    .button {
        display: block;
        margin: 0;
        width: 100%;

        // scss-lint:disable NestingDepth
        + p {
            margin-top: spacing("half");
        }

        &:not(:last-child) {
            margin-bottom: spacing("half");
        }
    }
}

.previewCartCheckout-price {
    display: block;
    font-size: fontSize("largest");
    font-weight: bold;
    text-align: center;
}

.previewCartCheckout-subtotal {
    display: block;
    margin-bottom: spacing("single");
    margin-top: spacing("single");
}

.previewCartCheckout-additionalCheckoutButtons {
    p {
        // scss-lint:disable ImportantRule
        float: none !important; // 1
        margin: spacing("third") 0;
    }

    .CheckoutButton {
        margin-bottom: spacing("base");

        &:first-child {
            margin-top: spacing("single");
        }

        &:last-child {
            margin-bottom: spacing("single");
        }
    }
}

.suggestiveCart {
    display: none;
    text-align: center;

    @include breakpoint("medium") {
        display: block;
    }
}

.card-tag{
    position: absolute;
    top: 1px;
    display: none;
    img{
        width: 80%;
    }
}
.card-set {
    &.info_icon{
        margin-bottom: 1.5rem;
    }
    img{
        width: 80%;
    }
  } 

  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem 5rem;
    top: 6px;
    right:0px;
    position: absolute;
  }

  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
  }
  @media (max-width: 1088px) and (min-width: 1024px){
    .card-set {
        img{
            width: 65%;
        }
      }
  }
  @media (max-width: 1023px) and (min-width: 894px){
    .card-set {
        &.info_icon{
            margin-bottom: 1rem;
        }
        img{
            width: 55%;
        }
      }
      .cards {
        grid-gap: 1rem 2rem;
        right: -10px;
      }
  }
  @media (max-width: 894px) and (min-width: 801px){
    .card-set {
        img{
            width: 40%;
        }
      }
    .cards{
        grid-gap: 1rem 4rem;
        right: -16px;
    }
  }
  @media (max-width: 800px) and (min-width: 768px){
    .card-set {
        &.info_icon{
            margin-bottom: 3.5rem;
        }
      }
      .cards{
        grid-gap: 2.3rem 5rem;
      }
  }
  @media screen and (max-width:375px) {
    .card-set {
        img{
            width: 70%;
        }
      }
  }
