{{inject "isProductCardPresented" true}}

<article
    style="position: relative;"
    class="card
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{id}}"
    {{#if settings.data_tag_enabled}}
        data-event-type="{{event}}"
        data-entity-id="{{id}}"
        data-position="{{position}}"
        data-name="{{name}}"
        data-product-category="
        {{#each category}}
            {{#if @last}}
                {{this}}
            {{else}}
                {{this}},
            {{/if}}
        {{/each}}"
        data-product-brand="{{brand.name}}"
        data-product-price="
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}"
    {{/if}}>
    <figure class="card-figure" style="padding:0">
        {{#if stock_level '===' 0}}
            {{> components/products/product-badge
                badge-type='sold-out'
                badge_view=theme_settings.product_sold_out_badges
                badge_label=theme_settings.pdp_sold_out_label
                page_builder_key="pdp_sold_out_label"
                default_translation=(lang "page_builder.pdp_sold_out_label")
            }}
        {{else}}
            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
                {{> components/products/product-badge
                    badge-type='sale'
                    badge_view=theme_settings.product_sale_badges
                    badge_label=theme_settings.pdp_sale_badge_label
                    page_builder_key="pdp_sale_badge_label"
                    default_translation=(lang "page_builder.pdp_sale_badge_label")
                }}
            {{/or}}
        {{/if}}
        <a href="{{url}}"
           class="card-figure__link"
           aria-label="{{name}},{{> components/products/product-aria-label}}"
           {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}
        >
            <div class="card-img-container">
                {{> components/common/responsive-img
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
            </div>
        </a>
        <figcaption class="card-figcaption-new">
            <div class="card-tag">
                <img class="" src="{{cdn 'img/limited-tag.png'}}" alt="hey">
            </div>
            <div class="cards">
                <div class="card-set info_icon">
                    <img class="" src="{{cdn 'img/info-gray.png'}}" alt="hey">
                </div>
                <div class="card-set quick_icon">
                    <img class="" src="{{cdn 'img/quick-gray.png'}}" alt="hey">
                </div>
                <div class="card-set cart_icon">
                    <img class="" src="{{cdn 'img/add-cart-gray.png'}}" alt="hey">
                </div>
                <div class="card-set wishlist_icon">
                    <img class="" src="{{cdn 'img/wishlist-gray.png'}}" alt="hey">
                </div>
              </div>                
        </figcaption>

    </figure>
    <div class="card-body">
        {{#and rating show_rating}}
            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
            </p>
        {{/and}}
        {{#if brand.name}}
            <p class="card-text" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h3 class="card-title">
            <a aria-label="{{name}},{{> components/products/product-aria-label}}"
               href="{{url}}"
               {{#if settings.data_tag_enabled}}data-event-type="product-click"{{/if}}
            >
                {{name}}
            </a>
        </h3>

        <div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                <div class="sub-title-price"> 
                    <span data-product-price-without-tax class="price price--withoutTax{{#if price.with_tax}} price-section--minor{{/if}}">{{price.without_tax.formatted}}</span>
                    <span>50mL</span>
                </div>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
        {{> components/products/bulk-discount-rates}}
        
    </div>
</article>
